* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 17px;
}
body {
  display: flex;

  flex-direction: column;

  align-items: center;
  background: linear-gradient(#aeb784, #4d513a, #4d514a);
  padding: 20px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.top-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
  max-width: 900px;
}

.btn {
  padding: 10px 20px;
  background: #4a4f1d;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.btn a {
  text-decoration: none;
  color: white;
}
.btn:hover {
  background: #aeb784;
  transform: scale(1.05);
}

.profil {
  background-color: #aeb784;
  width: 100%;
  max-width: 900px;
  padding: 20px;
  text-align: end;
}
.profil p {
  font-size: 15px;
  margin-right: 70px;
}
.profil h1 {
  margin-right: 70px;
  font-size: 45px;
}

.ronder_cercle_image {
  width: 240px;
  height: 200px;
  border-radius: 80%;
  display: block;
  margin: 0px auto;
  max-width: 100%;

  padding-top: 5px;
}

.container {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 900px;
  background-color: white;
}
.container_left {
  background-color: #41431b;
  color: white;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  padding: 10px;
  margin-top: -165px;
  margin-left: 25px;
  flex: 1 !important;
  padding-left: -5px;
}
.container_right {
  padding: 5px;
  flex: 2 !important;
}

#education {
  padding-top: 30px;
}
#education hr {
  width: 40%;
  margin-top: -7px;
  margin-left: 150px;
}
#education p {
  margin-top: 20px;
  margin-left: 20px;
}
#Competences_cles {
  padding-top: 20px;
}
#Competences_cles hr {
  width: 40%;
  margin-top: -7px;
  margin-left: 150px;
}
#langues {
  padding-top: 20px;
}
#langues hr {
  width: 40%;
  margin-top: -7px;
  margin-left: 150px;
}
#contact {
  padding-top: 20px;
  margin-bottom: 5px;
}

#contact hr {
  width: 40%;
  margin-top: -7px;
  margin-left: 150px;
}
#contact i {
  padding: 5px;
}
#contact p {
  margin-left: 15px;
  padding-top: 10px;
}
ul li {
  margin-left: 35px;
  padding-top: 10px;
}
ul {
  margin-top: 10px;
}
#experience h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
#experience h3 {
  margin-top: 15px;
}

#profil_info h2 {
  margin-top: 40px;
  margin-bottom: 10px;
}
#profil_info hr {
  width: 70%;
  margin-top: -15px;
  margin-left: 25%;
}
#experience hr {
  width: 70%;
  margin-top: -15px;
  margin-left: 25%;
}
#profil_info p {
  padding-top: 20px;
  margin-right: 12px;
}

.timeline_vertical {
  border-left: 2px solid black;

  padding: 0 20px 0 30px;
  margin-left: 10px;
  margin-top: 20px;
}
div {
  position: relative;
}
.timeline_detail::before {
  content: "";
  display: block;
  border-radius: 60%;
  border: 3px solid black;
  position: absolute;
  top: 0px;
  left: -43px;
  padding: 10px;
  background-color: white;
}
.experience_title {
  display: flex;
  justify-content: space-between;
}
h2 {
  text-transform: uppercase;
  font-weight: 700;
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    /*max-width: 900px;*/
    flex-direction: column;
    gap: 0;
  }

  .container_left,
  .container_right {
    margin: 0;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .profil {
    text-align: start;
  }
}
